

  /* Open Sans Condensed */
  @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
.tile2
{
  width:1190px;
  height:300px;
  margin:10px;
  background-color:#378DEE;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.2s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  
  color:white;
  font-family: 'Open Sans', sans-serif;
  
}

.tile2 img
{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.2s ease-out;
}
.tile2 .text
{
/*   z-index:99; */
font-size: 24px;
  position:relative;
  padding:30px;
  height:calc(10% - 60px);
}
.tile2 h1
{
  text-align: left;
  font-weight:500;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile2 h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile2 p
{
  font-size: 32;
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 30px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.tile2:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile2:hover img
{
  opacity: 0.2;
}
.tile2:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.tile2:hover span
{
  opacity:1;
  transform:translateY(0px);
}
.wrap
{
  margin:75px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:300px;
  margin:10px;
  background-color:#378DEE;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.2s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family: 'Open Sans', sans-serif;
  
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.2s ease-out;
}
.tile .text
{
/*   z-index:99; */
font-size: 17px;
font-weight:200;
 text-align: justify;
  text-justify: inter-word;
  position:absolute;
  padding:20px;
 
}
.tile .textlarge
{
/*   z-index:99; */
text-align: left;

  position:relative;
  
  height:calc(100% - 60px);
}
.tile h1
{
  text-align: left;
 
  font-weight:00;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile li
{
   text-align: left;
  font-weight:400;
  margin:20px 0 0 0;
  line-height: 15px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.2s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
height:440px;
  transform:scale(1.05);
}


.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.2s ease-out, opacity 0.2s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}